<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Games Speed</display-name>
  <welcome-file-list>
    <welcome-file>Home</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Startup</servlet-name>
    <servlet-class>johnny.gamestore.servlet.servlets.Startup</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>johnny.gamestore.servlet.servlets.Home</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>johnny.gamestore.servlet.servlets.Checkout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlaceOrder</servlet-name>
    <servlet-class>johnny.gamestore.servlet.servlets.PlaceOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyOrder</servlet-name>
    <servlet-class>johnny.gamestore.servlet.servlets.MyOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderCancel</servlet-name>
    <servlet-class>johnny.gamestore.servlet.servlets.OrderCancel</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderAll</servlet-name>
    <servlet-class>johnny.gamestore.servlet.servlets.OrderAll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchProduct</servlet-name>
    <servlet-class>johnny.gamestore.servlet.servlets.SearchProduct</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Review</servlet-name>
    <servlet-class>johnny.gamestore.servlet.servlets.Review</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlaceOrder</servlet-name>
    <url-pattern>/PlaceOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyOrder</servlet-name>
    <url-pattern>/MyOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderCancel</servlet-name>
    <url-pattern>/OrderCancel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderAll</servlet-name>
    <url-pattern>/OrderAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchProduct</servlet-name>
    <url-pattern>/SearchProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Review</servlet-name>
    <url-pattern>/Review</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>