@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);

body {
	background: #E6E7E9;
	margin:0;
	padding:0;
	font-family: 'Pontano Sans', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #888;
}

* {
	margin:0;
	padding:0;
}
.account {
	float: right;
}
.account ul li{
  display: inline;
}
.account a {
	text-decoration: none;
}
.page_header_main {
  padding: 0.5em 0;
  margin-bottom: 0;
}
.header_logo {
  float: left;
}
.header_logo img {
	float: left;
	height: 80px;
}
.header_right {
  float: right;
  width: 36%;
}
.header_search {
	position: relative;
	background: #f3f4f5;
	border: 1px solid #D8D8D8;
}
.header_search form{
	width:100%;
}
.header_search input[type="text"]{
	margin:0px 0;
	font-family: 'Open Sans', sans-serif;
	padding:8px 0px;
	outline: none;
	color: #5a5a5a;
	background: none;
	border: none;
	width:75.33333%;
	line-height: 1.5em;
	position: relative;
	font-size: 0.8725em;
	-webkit-appearance: none;
	text-transform: capitalize;
}
.header_search input[type="text"]:hover{
	background: #ffffff;
}
.header_search input[type="submit"]{
	background: url('images/site/search.png') no-repeat 0px 1px;
	border: none;
	cursor: pointer;
	width: 24px;
	outline: none;
	position: absolute;
	height: 24px;
	top: 6px;
	right: 5px;
}

/** element defaults **/
.cart table {
	width: 100%;
	text-align: left;
}

.cart th, td {
	padding: 10px 10px;
}

.cart th {
	color: #fff;
	background: #00e673 none repeat-x scroll left top;
}

.cart td {
	border-bottom: 1px solid #ccc;
}
.cart .total {
    font-weight: bold;
    color: #ff0000;
    background: #00e673 none repeat-x scroll left top;
}

.special_grid_row{
	display:block;
	margin: 2% 1%;
}
.special_grid_col{
	float: left;
	width: 30%;
	padding: 0.5em;
	text-align:center;
}
.special_box {
	border: 1px solid #0099ff;
}
.special_grid_col:hover .special_box{
	/*border: 1px solid #f54d56;*/
	transition: 1s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.special_grid_col:hover .special_box img{
	-webkit-transform: scale(0.9);
	/* Webkit: Scale up image to 1.2x original size; */
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	opacity: 1;
}
.special_grid_col:hover .special_box a{
	text-decoration:none;
	/*background: #f54d56;*/
	color:#fff;
}
.special_box img {
	width: 180px;
	height: 180px;
  -webkit-transition-duration: 0.5s;
  /* Webkit: Animation duration; */
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  width:100%;
}
.special_item_price {
}
.special_item_price .price-new {
  color: green;
  margin-right: 15px;
  font-weight: 500;
  font-size: 0.9em;
}
.special_item_price .price-old {
  text-decoration: line-through;
  color: #ff6978;
  font-weight: normal;
  font-size: 0.9em;
  margin-right: 10px;
}
.special_item_add {
  border: none;
  color: #3f3d3d;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  text-align: center;
}
.special_item_add  a{
  background: rgb(9, 209, 182);
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  text-decoration:none;
}
.special_item_add ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
}

.special_item_add ul li {
	margin-bottom: 5px;
}

.order_box {
    border: 1px solid #0099ff;
    margin-bottom: 20px;
    padding: 5px;
}

.order_table {
    width: 100%;
    text-align: left;
    padding: 0px;
}
.order_table tr td{
    margin: 0;
    padding: 0;
    border: 0;    
}

code, blockquote {
	display: block;
	border-left: 5px solid #222;
	padding: 10px;
	margin-bottom: 20px;
}
code {
	background-color: #222;
	color:#ccc;
	border: none;
}
blockquote {
	border-left: 5px solid #222;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #333;
	height: 1%;
}

p {
	line-height: 1.9em;
	margin-bottom: 20px;
}

a {
	color: #799AC0;
}

a:hover {
	color: #DE2D3A;
}

a:focus {
	outline: none;
}

a.button3 {    
    background-color: #799AC0;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;    
}

a.button2 {
    border: none;
    background: #DE2D3A;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 10px;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 1px;
    width: auto;
    overflow: visible;
    text-decoration: none;
}

a.button {
    background-color: #799AC0;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
}

a.button:hover {
    background-color: #4076AB;
}


fieldset {
	display: block;
	border: none;
	border-top: 1px solid #ccc;
}

fieldset legend {
	font-weight: bold;
	font-size: 13px;
	padding-right: 10px;
	color: #333;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
	float: left;
	width: 150px;
}

form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

form input.formbutton2 {
    background-color: #799AC0;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
}

form input.formbutton2:hover {
    background-color: #4076AB;
}

form input.formbutton {
	border: none;
	background: #DE2D3A;
	color: #ffffff;
	font-weight: bold;
	padding: 6px 10px;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
	width: auto;
	overflow: visible;
}

form.searchform input {
  font-size: 15px;
    padding: 6px;
}

form.searchform p {
	margin: 5px 0;
}


span.required {
	color: #ff0000;
}

h1 {
	color: #000;
	font-size: 35px;
	font-family: 'Pontano Sans', Arial, sans-serif;
}

h2 {
	color: #000;
	font-size: 30px;
	letter-spacing: 0px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
	font-family: 'Pontano Sans', Arial, sans-serif;
}

h3 {
	color: #DE2D3A;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 10px;
	letter-spacing: -1px;
	font-family: 'Pontano Sans', Arial, sans-serif;
}

h4 {
    font-family: 'Pontano Sans', Arial, sans-serif;
    color: #799AC0;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform: uppercase;
}

h5 {
	padding-bottom: 10px;
	font-size: 16px;
	color: #999;
}

ul, ol {
	margin: 0 0 35px 35px;
}

li {
	padding-bottom: 5px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}


#container {
	width: 960px;
	margin: 20px auto;
	padding: 10px;
	box-shadow: 0 5px 5px 5px #CCCCCC;
	background-color: #fff;
}

header {
	background: #fff;
	margin: 0 auto;
	text-align:center;
}

header h1 a, header h1 a:hover {
 color: #799AC0;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height:45px;
    text-decoration: none;
    text-transform: uppercase;
}
header h1 a span {
	color: #DE2D3A;
}

header h2 {
	color: #E6E7E9;
	font-size: 13px;
	position: relative;
	top: -5px;
	letter-spacing: 0;
}

nav {
	height: 70px;
	background-color: #799AC0;
}

nav ul {
	height: 70px;
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	float: left;
	display: block;
	padding: 0;
}


nav ul li a {
    color: #eee;
    display: block;
    font-family: 'Pontano Sans',Arial,sans-serif;
    font-size: 17px;
    letter-spacing: 0;
    margin: 0;
    padding: 25px 17px 23px;
    text-decoration: none;
    border-right:1px solid #668CB7;
}
nav ul li.selected a,
nav ul li.selected a:hover {
	background-color: #4076AB;
	color: #fff;
	font-weight:bold;
}


nav ul li a:hover {
	color: #fff;
	background-color: #4076AB;
	text-decoration: none;
}

/*img.header-image { padding-top: 10px;
			margin-bottom: -3px; }*/

#body {
	background: none;
	margin:0 auto;
 	padding: 0;
	clear: both;
}

#content {
    float: right;
    width: 71%;
}

article {
    border-bottom: 2px solid #ddd;
    padding: 10px 10px 20px 10px;
 }

article h2 {
    padding-bottom: 0;
}

article .article-info {
    color: #999999;
    font-size: 12px;
    font-style: italic;
    padding: 0 0 10px 0;
}

article .article-info a {
	color: #666;
}

.sidebar {
    float: left;
    width: 28%;
	margin-top: 10px;
}

.sidebar h4 {
	padding-bottom: 0;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	padding: 7px 7px;
	border-bottom: 1px solid #A31923;
  	background-color: #DE2D3A;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	background-color: #E6E7E9;
	margin-bottom: 20px;
	line-height: 1.9em;
}

.sidebar li ul {
    list-style: none outside none;
    margin: 0px;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 7px;
	margin: 0;
	line-height: 1.5em;
	font-size: 13.5px;
}

.sidebar li ul li.text {
	border-bottom: none;
}



.sidebar li ul li a {
	font-weight: normal;
}

.sidebar li ul li a:hover {
}


.sidebar li ul li a.readmore {
   color: #799AC0;
   font-weight: bold;
}




.clear {
	clear: both;
}

footer {
	margin:20px auto 0;
	width: 960px;
}

footer p {
	text-align: left;
	color: #ccc;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

footer p a {
	color: #ccc;
	font-weight: bold;
}

.footer-content {
	padding: 20px 25px 30px;
	background: #ddd;
	border-top: 10px solid #DB2C39;
}

footer .footer-content ul {
	width: 260px;
	list-style: none;
	margin: 0 65px 0 0;
	padding: 0;
	float: left;
}

footer .footer-content li {
	border-bottom: 1px dashed #ccc;
	padding: 10px 5px;
}

footer .footer-content li a, footer .footer-content h4 {
}

footer .footer-content li a {
 color: #666666;
    font-size: 13px;
    text-decoration: underline;
}

footer .footer-content li a:hover {
	color: #222;
}

footer .footer-content h4 {
   color: #666666;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 0;
}

footer .footer-content ul.endfooter {
	margin-right: 0;
}

footer .footer-content span.sitename {
	font-size: 40px;
	font-weight: normal;
	letter-spacing: -2px;
	color: #aaa;
	float: left;
}

footer .footer-bottom {
	padding: 10px;
	text-align: center;
	background-color: #DB2C39;
}

footer .footer-bottom p {
	text-align: center;
}

footer .footer-bottom p, footer .footer-bottom p a {
	color: #eee;
}
